section.booking-modal.portfolio-modal(tjsMaterialize)
  form(
    '(ngSubmit)'='addBooking()'
    '#bookingForm'='ngForm'
  )
    .modal-header
      .close-modal('(click)'='modalInstance.dismiss()')
          .lr
            .rl
      h4.modal-title
        span
          | Забронировать комнату
    .modal-body
      //- .row
      //-   .form-group.col-xs-12.no-margin
      //-     | Убедительно просим Вас в случае отмены брони сообщать об этом (можно по телефону). В противном случае Вы окажитесь в "черном списке" с последующим отказом в бронировании.
      //-   .form-group.col-xs-12.red.no-margin
      //-     | NB: если вы проводите дополнительные 15 мин., 20 мин. или 25 мин. в арендованном пространстве, вы оплачиваете это время как дополнительные 30 мин.
      //-   .form-group.col-xs-12.no-margin
      //-     | Спасибо за понимание.
      .form-group.label-floating
        .checkbox
          label(for='knowRules')
            input#knowRules(
              name='knowRules'
              type='checkbox'
              '[(ngModel)]'='knowRules'
            )
            | &nbsp;С&nbsp;
            a.rules(
              data-toggle="modal"
              data-target="#rules"
            ) правилами бронирования
            |  &nbsp;ознакомлен.
      .row
        .form-group.col-xs-6
          label.control-label(for='title') Начало занятия
          ngb-timepicker#start(
            name='start'
            '[(ngModel)]'='timeRange.start'
            '[meridian]'=false
            '[formControl]'='startTimeControl'
            '[disabled]'='!knowRules'
          )
          small.text-danger('*ngIf'='!startTimeControl.valid')
            span('*ngIf'='startTimeControl.errors && startTimeControl.errors["minBusy"]') Эта комната занята до {{ timeSpnaToString(minTime) }}.
        .form-group.col-xs-6
          label.control-label(for='end') Конец занятия
          ngb-timepicker#end(
            name='end'
            '[(ngModel)]'='timeRange.end'
            '[meridian]'=false
            '[formControl]'='endTimeControl'
            '[disabled]'='!knowRules'
          )
          small.text-danger('*ngIf'='!endTimeControl.valid')
            span('*ngIf'='endTimeControl.errors && endTimeControl.errors["maxBusy"]') Эта комната занята после {{ timeSpnaToString(maxTime) }}.
      .form-group.label-floating('[hidden]'=true)
        .togglebutton
          label(for='isPeriodic')
            input#isPeriodic(
              name='isPeriodic'
              type='checkbox'
              '[(ngModel)]'='booking.periodic'
              '#isPeriodic'='ngModel'
              '[disabled]'='!knowRules'
            )
            | Периодическое занятие?
      .form-group.label-floating.row.days-div('[hidden]'='!booking.periodic')
        label.control-label Дни
        .form-group.day-picker(*ngFor='let day of daysOfWeek')
          .checkbox
            label
              input(
                type='checkbox'
                value='{{ day.id }}'
                '[checked]'='booking.days_of_week.indexOf(day.id) > -1'
                '(click)'="toggleDaySelection(day)"
              )
              | {{ day.name }}
      .row
        .col-xs-6('*ngIf'='booking.periodic')
          .form-group
            label.control-label(for='period_start_div') Начальная дата
            #period_start_div.input-group(name='period_start_div')
              input#period_start.form-control(
                'ngbDatepicker'
                'name'='period_start'
                '[(ngModel)]'='dateRange.start'
                '#period_start'='ngbDatepicker'
              )
              .input-group-addon(
                '(click)'='period_start.toggle()'
              )
                i.fa.fa-calendar
        .col-xs-6('*ngIf'='booking.periodic')
          .form-group
            label.control-label(for='period_end_div') Конечная дата
            #period_end_div.input-group(name='period_end_div')
              input#period_end.form-control(
                'ngbDatepicker'
                'name'='period_end'
                '[(ngModel)]'='dateRange.end'
                '#period_end'='ngbDatepicker'
              )
              .input-group-addon(
                '(click)'='period_end.toggle()'
              )
                i.fa.fa-calendar
      .form-group.label-floating
        label.control-label(for='title') Комментарий
        textarea#title.form-control(
          tjsAutosize
          name='title'
          type='text'
          '[(ngModel)]'='booking.title'
          '#title'='ngModel'
          '[disabled]'='!knowRules'
        )
    .modal-footer
      button.btn.btn-secondary(
        type='button'
        role='button'
        '(click)'='modalInstance.dismiss()'
      )
        i.fa.fa-fw.fa-ban
        | &nbsp;
        | Закрыть
      button.btn.btn-success(
        type='button'
        role='button'
        '(click)'='addBooking()'
        '[disabled]'='!bookingForm.form.valid || !startTimeControl.valid || !endTimeControl.valid || !knowRules'
      )
        i.fa.fa-fw.fa-floppy-o
        | &nbsp;
        | Сохранить
.modal.fade.rulesModal#rules(
  role='dialog'
  aria-hidden="true"
)
  .modal-dialog(role="document")
    .modal-content
      .modal-body
        p.ruleRow Правила бронирования:
        p 1. Oбратите внимание, что до 23.00 у Вас есть возможность забронировать комнату для работы. Возможность бронирования возобновляется в 9.00 каждого дня.
        p 2. Если Вы отменяете бронь менее, чем за час до начала Вашей работы, Вы оплачиваете 50% от того времени, которое вы забронировали.
        p 3. Если Вы не пришли на забронированное Вами время и не сообщили об этом координатору, Вы оплачиваете 50% от того времени, которое Вы забронировали. При повторной ситуации Вы попадаете в "черный список" с дальнейшим отказом в аренде.
        p 4. Не смотря на то, что Вы окончили работу раньше, чем планировали, Вы оплачиваете полную стоимость забронированного времени.
        p 5. Для комфорта и удобства каждого участника творческого процесса мы оставляем за собой право менять забронированное Вами пространство. Стоимость аренды сохраняется первоначальная.
        p 6. Если Ваше мероприятие задерживается на более, чем 10 минут, вы оплачиваете дополнительные 30 минут аренды пространства.
        p 7. Сообщайте своевременно о поломках и неисправностях мебели и технического оборудования.
        p 8. Заканчивайте Ваши мероприятия во время, указанное при бронровании, чтобы не задерживать работу других специалистов. Если Вам требуется дополнительное время, Вы сможете переместиться в другое пространство или комнату.
        p 9. Обратите внимание на то, что в комнате может работать количество людей, указанное в описании.
        p
          i Чтобы всем у нас было комфортно и во избежание недоразумений, будем благодарны за соблюдение вышеперечисленных правил.
        button.btn.btn-success(
          type='button'
          role='button'
          '(click)'='knowRules=true'
          data-dismiss='modal'
        )
          i.fa.fa-fw.fa-check
          | &nbsp;
          | Ознакомлен
