section.admin-photo-modal(tjsMaterialize)
  form(
    '(ngSubmit)'='addPhoto()'
    '#photoForm'='ngForm'
  )
    .modal-header
      button.close(
        type='button'
        role='button'
        aria-label='Close'
        '(click)'='modalInstance.dismiss()'
      )
        span(aria-hidden='true') ×
      h4.modal-title
        span
          | Фото
    .modal-body
      .form-group.label-floating
        label.control-label(for='description') Описание
        input#description.form-control(
          name='description'
          '[(ngModel)]'='photo.description'
          '#description'='ngModel'
        )
      input#image(
        'type'='file'
        name='image'
        '(change)'='readUrl($event)'
      )
      img(
        '[src]'='url'
        '*ngIf'='url'
      )
    .modal-footer
      button.btn.btn-secondary(
        type='button'
        role='button'
        '(click)'='modalInstance.dismiss()'
      )
        i.fa.fa-fw.fa-ban
        | &nbsp;
        | Закрыть
      button.btn.btn-success(
        type='button'
        role='button'
        '(click)'='addPhoto()'
      )
        i.fa.fa-fw.fa-floppy-o
        | &nbsp;
        | Сохранить