.admin
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#main')
        img.img.img-responsive.img-glow(
          [src]='"../../assets/images/text.png"'
          alt='Rendez Vous'
        )
      button.navbar-toggler.navbar-toggler-right(
        #navbarToggler=''
        data-target='#navbarResponsive'
        data-toggle='collapse'
        type='button'
        aria-controls='navbarResponsive'
        aria-expanded='false'
        aria-label='Toggle navigation'
      )
        | МЕНЮ
        i.fa.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='admin#pages',(click)="collapseNav()") Творческое пространство
          li.nav-item
            a.nav-link.js-scroll-trigger(href='admin#events',(click)="collapseNav()") Мероприятия
          li.nav-item
            a.nav-link.js-scroll-trigger(href='admin#users',(click)="collapseNav()") Пользователи
          li.nav-item
            a.nav-link.js-scroll-trigger(href='admin#feedbacks',(click)="collapseNav()") Отзывы
          li.nav-item
            a.nav-link.js-scroll-trigger(href='admin#booking',(click)="collapseNav()") Бронирование
          li.nav-item
            a.nav-link.js-scroll-trigger(href='admin#rooms',(click)="collapseNav()") Комнаты
          li.nav-item.auth-control('*ngIf'="user")
            a.nav-link.user-profile-link(
              role='button'
              '(click)'='profile()'
            )
              .img.img-avatar.img-rounded-circle-hover(
                '[ngStyle]'='{ backgroundImage: "url(\'" + user.picture + "\')" }'
              )
              span.username.user-info
                | &nbsp;
                strong {{ user.firstname || user.login }}
              a.nav-link.pointer.user-info(
                '(click)'='logout()'
                placement='left'
                container='body'
              )
                i.fa.fa-sign-out
          li.nav-item.auth-control('*ngIf'='!user')
            form.text-xs-center.text-xs-center.float-lg-right.login-buttons('*ngIf'='!user')
              a.btn.align-middle.mt-1.mb-1.mr-1(
                type='button'
                role='button'
                '(click)'='signIn()'
              ) Вход
              a.btn.align-middle.mt-1.mb-1(
                type='button'
                role='button'
                '(click)'='signUp()'
              ) Регистрация
  // Booking Section
  header.masthead#pages
    .full-width.container
      h2.text-center Творческое пространство
      hr.star-light
      pages
  section#events
    .full-width.container
      h2.text-center Мероприятия
      hr.star-primary
      events
  section#users.success
    .full-width.container
      h2.text-center Пользователи
      hr.star-light
      users
  section#feedbacks
    .full-width.container
      h2.text-center Отзывы
      hr.star-primary
      feedbacks
  section#rooms.success
    .full-width.container
      h2.text-center Комнаты
      hr.star-light
      rooms
  section#booking
    .full-width.black-text.container
      booking
