.portal
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#main')
        img.img.img-responsive.img-glow(
          [src]='"../../assets/images/text.png"'
          alt='Rendez Vous'
        )
      button.navbar-toggler.navbar-toggler-right(
        #navbarToggler=''
        data-target='#navbarResponsive'
        data-toggle='collapse'
        type='button'
        aria-controls='navbarResponsive'
        aria-expanded='false'
        aria-label='Toggle navigation'
      )
        | МЕНЮ
        i.fa.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#main',(click)="collapseNav()") Творческое пространство
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#events',(click)="collapseNav()") Мероприятия
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#feedbacks',(click)="collapseNav()") Отзывы
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#contacts',(click)="collapseNav()") Контакты
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#booking',(click)="collapseNav()") Бронирование
          li.nav-item.auth-control('*ngIf'="user")
            a.nav-link.user-profile-link(
              role='button'
              '(click)'='profile()'
            )
              .img.img-avatar.img-rounded-circle-hover(
                '[ngStyle]'='{ backgroundImage: "url(\'" + user.picture + "\')" }'
              )
              span.username.user-info
                | &nbsp;
                strong {{ user.firstname || user.login }}
              a.nav-link.pointer.user-info(
                '(click)'='logout()'
                placement='left'
                container='body'
              )
                i.fa.fa-sign-out
          li.nav-item.auth-control('*ngIf'='!user')
            form.text-xs-center.text-xs-center.float-lg-right.login-buttons('*ngIf'='!user')
              a.btn.align-middle.mt-1.mb-1.mr-1(
                type='button'
                role='button'
                '(click)'='signIn()'
              ) Вход
              a.btn.align-middle.mt-1.mb-1(
                type='button'
                role='button'
                '(click)'='signUp()'
              ) Регистрация
  // Header
  header.masthead#main
    .container
      .row
        .col-xs.black-text
          div(
            '[innerHTML]'='pages.about | mySafeHtml'
            '*ngIf'='pages'
          )
  // Events Section
  section#events
    h2.text-center Мероприятия
    events
  // Feedbacks Section
  section#feedbacks.success
    h2.text-center Отзывы
    feedbacks
  // Contact Section
  section#contacts.full-width.contacts
    contacts
  // Booking Section
  section#booking.success.full-width.black-text
    booking
  //- // Footer
  //- footer.text-center
  //-   .footer-above
  //-     .container
  //-       .row
  //-         .footer-col.col-md-4
  //-           h3 Location
  //-           p
  //-             | 3481 Melrose Place
  //-             br
  //-             | Beverly Hills, CA 90210
  //-         .footer-col.col-md-4
  //-           h3 Around the Web
  //-           ul.list-inline
  //-             li.list-inline-item
  //-               a.btn-social.btn-outline(href='#')
  //-                 i.fa.fa-fw.fa-facebook
  //-             li.list-inline-item
  //-               a.btn-social.btn-outline(href='#')
  //-                 i.fa.fa-fw.fa-google-plus
  //-             li.list-inline-item
  //-               a.btn-social.btn-outline(href='#')
  //-                 i.fa.fa-fw.fa-twitter
  //-             li.list-inline-item
  //-               a.btn-social.btn-outline(href='#')
  //-                 i.fa.fa-fw.fa-linkedin
  //-             li.list-inline-item
  //-               a.btn-social.btn-outline(href='#')
  //-                 i.fa.fa-fw.fa-dribbble
  //-         .footer-col.col-md-4
  //-           h3 About Freelancer
  //-           p
  //-             | Freelance is a free to use, open source Bootstrap theme created by
  //-             a(href='http://startbootstrap.com') Start Bootstrap
  //-             | .
  //-   .footer-below
  //-     .container
  //-       .row
  //-         .col-lg-12
  //-           | Copyright © Your Website 2017
  //- // Scroll to Top Button (Only visible on small and extra-small screen sizes)
  //- .scroll-top.d-lg-none
  //-   a.btn.btn-primary.js-scroll-trigger(href='#page-top')
  //-     i.fa.fa-chevron-up
  //- // Portfolio Modals
  //- #portfolioModal1.portfolio-modal.modal.fade(role='dialog', aria-hidden='true', tabindex='-1')
  //-   .modal-dialog(role='document')
  //-     .modal-content
  //-       .close-modal(data-dismiss='modal')
  //-         .lr
  //-           .rl
  //-       .container
  //-         .row
  //-           .col-lg-8.mx-auto
  //-             .modal-body
  //-               h2 Project Title
  //-               hr.star-primary
  //-               img.img-fluid.img-centered(src='img/portfolio/cabin.png', alt='')
  //-               p
  //-                 | Use this area of the page to describe your project. The icon above is part of a free icon set by
  //-                 a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
  //-                 | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
  //-               ul.list-inline.item-details
  //-                 li
  //-                   | Client:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') Start Bootstrap
  //-                 li
  //-                   | Date:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') April 2014
  //-                 li
  //-                   | Service:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') Web Development
  //-               button.btn.btn-success(data-dismiss='modal', type='button')
  //-                 i.fa.fa-times
  //-                 |                     Close
  //- #portfolioModal2.portfolio-modal.modal.fade(role='dialog', aria-hidden='true', tabindex='-1')
  //-   .modal-dialog(role='document')
  //-     .modal-content
  //-       .close-modal(data-dismiss='modal')
  //-         .lr
  //-           .rl
  //-       .container
  //-         .row
  //-           .col-lg-8.mx-auto
  //-             .modal-body
  //-               h2 Project Title
  //-               hr.star-primary
  //-               img.img-fluid.img-centered(src='img/portfolio/cake.png', alt='')
  //-               p
  //-                 | Use this area of the page to describe your project. The icon above is part of a free icon set by
  //-                 a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
  //-                 | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
  //-               ul.list-inline.item-details
  //-                 li
  //-                   | Client:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') Start Bootstrap
  //-                 li
  //-                   | Date:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') April 2014
  //-                 li
  //-                   | Service:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') Web Development
  //-               button.btn.btn-success(data-dismiss='modal', type='button')
  //-                 i.fa.fa-times
  //-                 |                     Close
  //- #portfolioModal3.portfolio-modal.modal.fade(role='dialog', aria-hidden='true', tabindex='-1')
  //-   .modal-dialog(role='document')
  //-     .modal-content
  //-       .close-modal(data-dismiss='modal')
  //-         .lr
  //-           .rl
  //-       .container
  //-         .row
  //-           .col-lg-8.mx-auto
  //-             .modal-body
  //-               h2 Project Title
  //-               hr.star-primary
  //-               img.img-fluid.img-centered(src='img/portfolio/circus.png', alt='')
  //-               p
  //-                 | Use this area of the page to describe your project. The icon above is part of a free icon set by
  //-                 a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
  //-                 | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
  //-               ul.list-inline.item-details
  //-                 li
  //-                   | Client:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') Start Bootstrap
  //-                 li
  //-                   | Date:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') April 2014
  //-                 li
  //-                   | Service:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') Web Development
  //-               button.btn.btn-success(data-dismiss='modal', type='button')
  //-                 i.fa.fa-times
  //-                 |                     Close
  //- #portfolioModal4.portfolio-modal.modal.fade(role='dialog', aria-hidden='true', tabindex='-1')
  //-   .modal-dialog(role='document')
  //-     .modal-content
  //-       .close-modal(data-dismiss='modal')
  //-         .lr
  //-           .rl
  //-       .container
  //-         .row
  //-           .col-lg-8.mx-auto
  //-             .modal-body
  //-               h2 Project Title
  //-               hr.star-primary
  //-               img.img-fluid.img-centered(src='img/portfolio/game.png', alt='')
  //-               p
  //-                 | Use this area of the page to describe your project. The icon above is part of a free icon set by
  //-                 a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
  //-                 | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
  //-               ul.list-inline.item-details
  //-                 li
  //-                   | Client:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') Start Bootstrap
  //-                 li
  //-                   | Date:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') April 2014
  //-                 li
  //-                   | Service:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') Web Development
  //-               button.btn.btn-success(data-dismiss='modal', type='button')
  //-                 i.fa.fa-times
  //-                 |                     Close
  //- #portfolioModal5.portfolio-modal.modal.fade(role='dialog', aria-hidden='true', tabindex='-1')
  //-   .modal-dialog(role='document')
  //-     .modal-content
  //-       .close-modal(data-dismiss='modal')
  //-         .lr
  //-           .rl
  //-       .container
  //-         .row
  //-           .col-lg-8.mx-auto
  //-             .modal-body
  //-               h2 Project Title
  //-               hr.star-primary
  //-               img.img-fluid.img-centered(src='img/portfolio/safe.png', alt='')
  //-               p
  //-                 | Use this area of the page to describe your project. The icon above is part of a free icon set by
  //-                 a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
  //-                 | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
  //-               ul.list-inline.item-details
  //-                 li
  //-                   | Client:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') Start Bootstrap
  //-                 li
  //-                   | Date:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') April 2014
  //-                 li
  //-                   | Service:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') Web Development
  //-               button.btn.btn-success(data-dismiss='modal', type='button')
  //-                 i.fa.fa-times
  //-                 |                     Close
  //- #portfolioModal6.portfolio-modal.modal.fade(role='dialog', aria-hidden='true', tabindex='-1')
  //-   .modal-dialog(role='document')
  //-     .modal-content
  //-       .close-modal(data-dismiss='modal')
  //-         .lr
  //-           .rl
  //-       .container
  //-         .row
  //-           .col-lg-8.mx-auto
  //-             .modal-body
  //-               h2 Project Title
  //-               hr.star-primary
  //-               img.img-fluid.img-centered(src='img/portfolio/submarine.png', alt='')
  //-               p
  //-                 | Use this area of the page to describe your project. The icon above is part of a free icon set by
  //-                 a(href='https://sellfy.com/p/8Q9P/jV3VZ/') Flat Icons
  //-                 | . On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!
  //-               ul.list-inline.item-details
  //-                 li
  //-                   | Client:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') Start Bootstrap
  //-                 li
  //-                   | Date:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') April 2014
  //-                 li
  //-                   | Service:
  //-                   strong
  //-                     a(href='http://startbootstrap.com') Web Development
  //-               button.btn.btn-success(data-dismiss='modal', type='button')
  //-                 i.fa.fa-times
  //-                 |                     Close
